/* Write your code here. */

body {
  font-family: 'Roboto';
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-wrap: 1;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2.4rem;
}

.notify-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.notifty-heading {
  color: #0f172a;
}

.notify-bar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #ffffff;
  padding: 8px;
  width: 350px;
  margin-top: 30px;
}

@media (max-height : 768px) {
  .notify-bar {
    width: 250px;
  }
}

.info-msg {
  background-color: #0b69ff;
}

.success-msg {
  background-color: #2dca73;
}

.warning-msg {
  background-color: #ffb800;
}
.error-msg {
  background-color: #ff0b37;
}

.icon-msg {
  height: 20px;
  margin-right: 8px;
}
